[core]
	excludesfile = ~/.dotfiles/.gitignore_global
	editor = code --wait --new-window
[user]
	name = Noah Holm
	email = 32292420+noppaz@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHM2VV328FR1OjgcL680yUKjJKfNgNzObqZiTRydsfRA
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.dotfiles/.git_allowed_signers
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[include]
	path = .gitconfig_local ; work config etc
[push]
	autoSetupRemote = true
